@charset "UTF-8";

.simpleimage{
	width: 210px;
	height: 155px;
	background-size:cover;
	background-position:center center;
}
#simplefigure{
	width: 210px;
	height: 155px;
}
.inline{
	display: inline;
}
#simcontent{
	margin-left: 230px;
}
#bottom{
	 position:absolute;
	 bottom:0;
}

#rightdiv{
	display:inline-block;
	float:right;
}
#leftdiv{
	display:inline-block;
	float:left;
}
#user{
	margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
}
#titlefont{
	font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    font-family: 'Raleway';
    background-color: transparent;
    color: #000;
}
.titlefont{
	font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    font-family: 'Raleway';
    background-color: transparent;
    color: #000;
}
.buttom{
	height:40px;
	margin-left: -3px;
    margin-top: -5px;
}



